


p{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 4rem;
    
}

h5,h2{
 text-align: center;
    font-size: 500%;

}



@media screen and (max-width: 1024px) {
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;

    }
    .about__content{
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 700px) {
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }
    h2{
        font-size: 194% ;
        transform: translateX(39px);
    
    }
    p{
        font-size: 95%;
        transform: translateX(39px);
    }

    .about_cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content{
        text-align: center;
    }
    .about__content{
        margin: 1.5rem 0;
    }
}