.contact{
  display: flex;
  
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.contact-form{
  display: flex;
flex-direction: column;
justify-content: space-between;
width: 30%;
height: calc(100vh - 200px);


text-align: center;
border-radius: 6px;




}

label {
	font-size: 3.25rem;
	color: red;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

input {
	font-size: 3rem;
	background-color: #e6e6e6;
	height: 100px;
	box-shadow: 0 -2px 2px rgb(199, 194, 194);
	border-radius: 20px;
	color: black;
}

textarea {
	border-radius: 10px;
	background-color: #e6e6e6;
	padding: 0.5rem;
	height: 150px;
	font-size: 3.25rem;
}
button {
	width: 18rem;
	padding: 10px;
	margin: 10px;
	border-radius: 4px;
	font-size: 1.2rem;
	color: #003566;
	border: 1px solid #003566;
	cursor: pointer;
	transition: all 400ms ease;
	font-size: 3.25rem;
}
.then{
	font-size: 500;
}

@media screen and (max-width: 700px) {
	label{
		font-size: 106%;
		transform: translateX(35px);
		
	}
	input{
		border-radius: 2px;
		width: 130%;
		height: 4%;
		font-size: 100%;
		text-align: center;
		transform: translateX(26px);

         
	}
	button{
		height: 40px;
		width: 90px;
		font-size: 120%;
		text-align: left;
		color: black;
		border-radius: 5px;
		transform: translateX(38px);
	}
	textarea{
		font-size: 90%;
		height: 120px;
		width: 160px;
		border-radius: 0.5rem;
		transform: translateX(26px);
	}
}
