header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container{
    margin: 22rem;
    text-align: right;
    height: 100%;
    position: relative;
    
}

/* CTA */ 

.cta{
    text-align: right;
    
}

h6, h1, h7{
    font-size: 1200%;
}


/* HEADER SOCIALS */ 

.header__socials{
display: flex;
flex-direction: column;
align-items: center;
gap: 0.8rem;
position: absolute;
left: 0;
bottom: 3rem;
}


.scroll_down{
    color: red;
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 400%;
}

.btn{
    font-size: 600%;
    
}

img{
    text-align: center;
}

@media screen and (max-width: 1024px){
    .header {
        height: 68vh;
    }
    
}

@media screen and (max-width: 600px){
    .header {
        height: 100vh;
        
    }
    .header__socials,
    .scroll_down{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    h6, h1{
        font-size: 120%;
        transform: translateX(-160px);

    }
    .btn{
        width: 10px;
        height: 20px;
        transform: translateX(-130px);
        color: red;
        font-size: 80%;
        text-align: left;
        
    }
    .me{
        width: 10px;
        height: 20px;

    }
}